<h1 class="display-6 pb-4 text-center">New Job Post</h1>
<div class="d-flex justify-content-center">
<form class="w-50 row g-3 border p-5 box-shadow br-10">
  <div class="col-md-8">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="col-md-4">
    <label for="experience" class="form-label">Experience</label>
    <input type="number" class="form-control" id="experience">
  </div>
  <div class="col-md-6">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" id="location">
  </div>
  <div class="col-md-6">
    <label for="department" class="form-label">Department</label>
    <input type="text" class="form-control" id="department">
  </div>
  <div class="col-md-6">
    <label for="salary" class="form-label">Salary range</label>
    <input type="text" class="form-control" id="salary">
  </div>
  <div class="col-md-6">
    <label for="employeeType" class="form-label">Employment type</label>
    <select id="employeeType" class="form-select">
      <option>Permananet</option>
      <option>Contract</option>
    </select>
  </div>
  <div class="col-md-12">
    <label for="skill" class="form-label">Skills</label>
    <input type="text" class="form-control" id="skill">
  </div>
  <div class="col-md-6">
    <label for="education" class="form-label">Education</label>
    <input type="text" class="form-control" id="education">
  </div>
  <div class="col-md-6">
    <label for="hrName" class="form-label">HR Name</label>
    <input type="text" class="form-control" id="hrName">
  </div>
  <div class="col-md-12">
    <label for="hrEmail" class="form-label">HR Email</label>
    <input type="text" class="form-control" id="hrEmail">
  </div>
  <div class="col-12">
    <label for="description" class="form-label">Description</label>
  <textarea id="description" class="form-control" rows="5"></textarea>
  </div>

  <div class="col-12 d-flex justify-content-center">
    <button type="reset" class="btn btn-outline-secondary mx-3">Reset</button>
    <button type="submit" class="btn btn-warning">Post Job</button>
  </div>
</form>



</div>

