<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Job Portal</title>
</head>
<body>
<nav th:fragment="companymenu" class="navbar navbar-expand-lg header-bar">
    <div class="container-fluid">
        <a class="navbar-brand font-white" href="#">Online Job Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex align-items-center justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/api/companies/company-home}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/api/companies/list}" >Registered Companies</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/api/companies/add-job}">Add Job Posting</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/api/companies/list-job}">Jobs</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/api/companies/list-job}">View Applicants</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/api/companies/company-logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="companyname">
</div>
<script>
    // Read value from local storage
    var localStorageValue = localStorage.getItem('company-name');

    // Assign the value to the div
    document.getElementById('companyname').innerText = localStorageValue;
</script>
</body>
</html>