<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head"></div>
<body>
<div th:replace="menu :: menu"></div>

<h1 class="display-6 pb-4 text-center">Company Login</h1>
<div class="d-flex justify-content-center ">
    <form class="w-50 row g-3 border p-5 box-shadow br-10">
        <div class="col-md-12">
            <label for="userName" class="form-label">Email or Mobile</label>
            <input type="text" class="form-control" id="userName">
        </div>
        <div class="col-md-12">
            <label for="pwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-warning">Login</button>
        </div>
    </form>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>