<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title>Job portal</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script>
        function init(){
            document.body.style.zoom = "80%";
        }
        document.addEventListener("DOMContentLoaded", function() {
    init();
});

    </script>
</head>
