<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head"></div>
<body>
<div th:if="${userType == 'CANDIDATE'}">
    <div th:replace="usermenu :: nav"></div>
</div>
<div th:if="${userType != 'CANDIDATE' && userType != 'COMPANY'}">
    <div th:replace="menu :: menu"></div>
</div>
<div th:if="${userType == 'COMPANY'}">
    <div th:replace="companymenu :: nav"></div>
</div>
<h1 class="display-6 pb-4 text-center fw-bold">Registered Companies</h1>
<div class="d-flex justify-content-center">
    <div class="w-75 row row-cols-1 row-cols-md-3 g-4" >
        <div class="col" th:each="c : ${companies}">
            <div class="card h-100 box-shadow border">
                <!-- <img [src]="c.logo" class="card-img-top p-5" alt="..."> -->
                <div class="card-body">

                    <h5 class="card-title" th:text="${c.companyName}"></h5>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="m-0"><span class="text-muted">Found on : </span><small class="text-body-secondary" th:text="${c.foundedOn}"> </small> </p>
                        <span class="badge text-bg-info" th:text="${c.type}"></span>
                    </div>
                    <a th:href="${c.website}" class="pb-2" ></a>
                    <p class="d-flex justify-content-between pb-2"><span class="text-muted">Employees</span> <span class="card-text" th:text="${c.companySize}"></span></p>

                    <p class="card-text job" *ngIf="c.about" th:text="${c.about}"></p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-danger" th:href="@{'/api/companies/' + ${c.id} + '/jobs'}">View Jobs</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>