<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head"></div>
<body>
<div th:replace="menu :: menu"></div>

<h1 class="display-6 pb-4 text-center fw-bold">Registered Companies</h1>
<div class="d-flex justify-content-center">
    <div class="w-75 row row-cols-1 row-cols-md-3 g-4" >
        <div class="col" th:each="c : ${companies}">
            <div class="card h-100 box-shadow border">
                <!-- <img [src]="c.logo" class="card-img-top p-5" alt="..."> -->
                <div class="card-body">

                    <h5 class="card-title" th:text="${c.companyName}"></h5>
                    <div class="d-flex justify-content-between pb-2">
                        <small class="text-body-secondary" th:text="${c.foundedOn}"> Found on</small>
                        <span class="badge text-bg-info" th:text="${c.type}"></span>
                    </div>
                    <a th:href="${c.website}" class="pb-2" ></a>
                    <p class="card-text" th:text="${c.companySize}">Employees</p>

                    <p class="card-text box-highlight" *ngIf="c.about" th:text="${c.about}"></p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-danger">View Jobs</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>