<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head"></div>
<body>
<div th:if="${userType == 'CANDIDATE'}">
    <div th:replace="usermenu :: nav"></div>
</div>
<div th:if="${userType != 'CANDIDATE' && userType != 'COMPANY'}">
    <div th:replace="menu :: menu"></div>
</div>

<div th:if="${userType == 'COMPANY'}">
    <div th:replace="companymenu :: nav"></div>
</div>

<h1 class="display-6 pb-4 text-center" th:text="${title}"></h1>
<div class="d-flex justify-content-center">
    <div class="w-75">
          <div class="row" th:each="j : ${jobs}">
            <div class="col-sm-12 m-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-header mb-4 w-100 text-danger" th:text="${j.title}"> </h5>
                            <!--<img   th:src="@{/images/company/adobe.svg}" width="100" class="img-fluid rounded-start"
                                 alt="...">-->
                        </div>

                        <div class="d-flex align-items-center justify-content-between">
                            <p><span class="text-muted">Skills : </span><span class="fw-bold" th:text="${j.skills}"></span></p>

                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p > <span class="text-muted">Work experience :</span><span class="fw-bold" th:text="${j.experience}"></span> years</p>
                        </div>

                        <p class="text-muted"> Job description : </p>
                        <p class="card-text job" th:text="${j.description}"></p>
                        <div class="d-flex align-items-center justify-content-between">
                            <p><span class="text-muted">Salary: </span><span class="fw-bold" th:text="${j.salaryRange}"></span></p>
                            <p > <span class="text-muted">Work location :</span><span class="fw-bold" th:text="${j.location}"></span></p>
                        </div>

                        <div class="d-flex align-items-center justify-content-between">
                            <p><span class="text-muted">Qualification: </span><span class="fw-bold" th:text="${j.education}"></span></p>
                            <p > <span class="text-muted">Work experience :</span><span class="fw-bold" th:text="${j.experience}"></span></p>
                        </div>


                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center justify-content-between">
                            <p><span class="text-muted">HR Name: </span><span class="fw-bold" th:text="${j.hrName}"></span></p>
                            <div class="d-flex justify-content-center" th:if="${ hideActions != true &&  userType == 'CANDIDATE'}">
                                <a class="btn btn-warning apply-job-button" th:href="@{/api/companies/list/applied-jobs}" th:data-job-id="${j.id}" th:data-user-id="${userId}">Apply this Job</a>
                            </div>

                            <div th:if="${hideActions != true && userType == 'COMPANY'}" class="d-flex justify-content-center">
                                <a href="#" class="btn btn-warning" th:data-job-id="${j.id}">View Applicants</a>
                            </div>

                            <p > <span class="text-muted">HR Email:</span><span class="fw-bold" th:text="${j.hrEmail}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Function to send AJAX request
    function applyJob(jobId, userId) {
        fetch('/api/companies/apply-job', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body:  'jobId=' + encodeURIComponent(jobId) + '&userId=' + encodeURIComponent(userId),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
           // return response.text();
        })
        .then(data => {
            // Handle success response, if needed

            alert('Job applied successfully');
            window.location.href = '/api/companies/user-job-applied';
            return ;
        })
        .catch(error => {
            // Handle error, if needed
            console.error('Error applying job:', error);
        });
    }

    // Add click event listener to all Apply Job buttons
    document.querySelectorAll('.apply-job-button').forEach(button => {
        button.addEventListener('click', function() {
            // Retrieve the job ID from the data attribute
            var jobId = this.getAttribute('data-job-id');
var userId = this.getAttribute('data-user-id');
            // Call the applyJob function with the job ID
            applyJob(jobId,userId);
        });
    });
</script>
<div th:replace="footer :: footer"></div>
</body>
</html>