<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head"></div>
<body>
<div th:if="${userType == 'CANDIDATE'}">
    <div th:replace="usermenu :: nav"></div>
</div>
<div th:if="${userType != 'CANDIDATE' && userType != 'COMPANY'}">
    <div th:replace="menu :: menu"></div>
</div>

<div th:if="${userType == 'COMPANY'}">
    <div th:replace="companymenu :: nav"></div>
</div>

<h1 class="display-6 pb-4 text-center">Jobs</h1>
<div class="d-flex justify-content-center">
    <div class="w-75">
        <div class="row" th:each="j : ${jobs}">
            <div class="col-sm-12 m-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title" th:text="${j.title}"> </h5>
                            <img   th:src="@{/images/company/adobe.svg}" width="100" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <p class="card-text" th:text="${j.description}"></p>
                        <div class="d-flex justify-content-between"> <p>Salary: <span th:text="${j.salaryRange}"></span></p><p th:text="${j.location}"></p></div>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-warning">Apply</a>
                            <a href="#" class="btn btn-success mx-3">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>