<form class="row g-3">
  <h5 class="pb-1">Add New</h5>
  <div class="col-md-6">
    <label for="courseName" class="form-label">Course Name</label>
    <input type="text" class="form-control" id="courseName">
  </div>
  <div class="col-md-12">
    <label for="instituteName" class="form-label">Institute Name</label>
    <input type="text" class="form-control" id="instituteName">
  </div>
  <div class="col-md-6">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" id="location">
  </div>
  <div class="col-md-6">
    <label for="year" class="form-label">Year</label>
    <input type="text" class="form-control" id="year">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
